
                                             /*LÄGGA IN ALL STYLING HÄR*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    }

     @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
     @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    }
    :root {
        --navbar-background: #161320;
        --lightgreen-color: #D6EB31;
        --navbar-border: #3A3C24;
        --gray-background-color: #f7f7f7;
        --light-gray-color: #6F6F6F;
        --light-gray-solid: #E6E6E6;
        --dark-gray-solid: #27252F;
        --bulletin-background: #27252F;
        --gray-placeholder-text-color: #A7A7A7;
        --gray-browse-btn: #D9D9D9;
        --gray-error-font: #575757;
        --remove-account-red: #E50004;    

        /*HOVER COLORS, DARK*/
        --hovergreen-color:  #aec11e;
    }
    /*FELMEDDELANDE i formulär*/
    .field-validation-error {
        color: #d9534f;
        font-size: 0.7rem;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
    }
    .input-validation-error {
        background-color: #fff4f4;
    }
    /*FELMEDDELANDE i formulär SLUT*/
    h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
    }
    .container {
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    }
    @media (min-width: 768px) {
    .container {
        max-width: 1296px;
        }
    }
    body {
    background-color: #f7f7f7;
}
  
    /* NAVBAR - MOBILE FIRST */
    .navbar {
    border: 2px solid var(--navbar-border);
    padding: 1rem;
    background-color: var(--navbar-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    }
    .navbar-text-s {
    display: none;
    }
    .green-btn {
    align-items: center;
    display: flex;
    border-radius: 50px;
    background-color: var(--lightgreen-color);
    color: black;
    padding: 1rem 1rem 1rem 1rem;
    font-family: "DM sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    gap: 0.5rem;
}
    .green-btn:hover {
    background-color: var(--hovergreen-color);
    }
    .btn-icon {
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    }
    .dropdown-container {
        display: flex;
        gap: 1rem;
        
    }
    .dropdown {
    display: flex;
    align-items: center;
    color: black;
    border-radius: 10px;
    background: var(--lightgreen-color);
    padding: 1rem 1.2rem 1rem 1.2rem;
    cursor: pointer;
    border: none;
    outline: none;
    
}
    .dropdown:hover {
    background-color: var(--hovergreen-color);
}
    .desktop-only { 
    display: none; 
    }

/*HAMBURHER NAVBAR JAVASCRIPT*/
.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: -100%;
    right: 0;
    width: 40%;
    margin-top: 80px;
    background-color: var(--lightgreen-color);
    border-radius: 20px;
    transition: 0.6s;
    list-style: disc;
    list-style-position: inside;
    position: fixed;
    z-index: 9999;
}
.hamburger-text { 
    text-decoration: none;
    color: black;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}
.hamburger-text:hover {
color: var(--hovergreen-color);
}
.hamburger-menu.active {
    top: 0;
}
.hamburger-in-links {
    padding: 0.5rem;
   width: 190px;
}
@media (min-width: 768px) {
.hamburger-menu {
    display: none;
    }
.hamburger-menu.active {
    display: none;
    }
.hamburger-in-links {
    display: none;
    }
}
/*HAMBURGER NAVBAR JAVASCRIPT END*/

/* NAVBAR - DESKTOP */
    @media (min-width: 769px) {
    .navbar-text-s {
    display: block;
    color: white;
    font-family: "DM sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    }
    .navbar-text-s:hover {
        color: var(--lightgreen-color);
    }
    .dropdown {
        display: none;
    }
    .desktop-only { 
        display: flex; 
    }
    .nav-links{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    .nav-actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

/*TRAINING NAVBAR JAVASCRIPT*/
.training-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    position: fixed;
    padding: 0.5rem;
    padding-left: 0; 
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30%;
    left: 0;
    right: 0;
    width: 20%;
    margin-top: 70px;
    background-color: var(--lightgreen-color);
    border-radius: 20px;
    transition: 0.6s;
    position: fixed;
    z-index: 9999;
}
.training-menu.active {
    top: 0;
}
.training-menu-text{ 
    text-decoration: none;
    color: black;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}
.training-menu-text:hover {
color: var(--hovergreen-color);
}
.training-in-links {
    padding: 0.5rem;
    width: 210px;
}
/*TRAINING NAVBAR JAVASCRIPT END*/

    /*HERO - MOBILE FIRST*/
    .bulletin-label {
    border-radius: 50px;
    background: var(--bulletin-background);
    display: inline-block;
    padding: 0.5rem;
    margin-top: 2rem;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: "DM sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    }

    .hero-background {
        background: var(--navbar-background);
    }
    .hero-wrapper {
    background: var(--navbar-background);
    padding-left: 3rem;
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 4rem;
    padding-bottom: 2rem;
    }
     @media (min-width: 769px) {
        .hero-wrapper {
            padding-bottom: 0;
        }
    }
    .hero-left {
    width: 570px;
    }
    .hero-title {
    border-radius: 50px;
    background: #27252F;
    display: inline-block;
    padding: 1rem;
    margin-top: 2rem;
    }
    .hero-rubrik {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 700px;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    }
    .green-btn-hero {
    margin-top: 3rem;
    display: flex;
    border-radius: 50px;
    background-color: var(--lightgreen-color);
    color:black;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-family: "DM sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    }
    .green-btn-getstarted {
        text-decoration: none;
        color: black;
    }
    .get-started {
        padding-left: 0.5rem;
    }
 
    .green-btn-hero:hover {
    background-color: var(--hovergreen-color);
    }
    .hero-text, .hero-icon {
        font-family: "DM sans", sans-serif;
    }
    .hero-icon, .hero-title, .hero-rubrik, .hero-text {
        color: white;
    }
    .hero-icon-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    margin-top: 2rem;
    }
    .hero-icon {
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    }
    hr {
    height: 1px;
    background-color: var(--navbar-border);
    border: none
    }
    .gymcouple-img {
        display: none;
    }

    /* HERO - DESKTOP */
    @media (min-width: 769px) {
    .gymcouple-img {
    display: block;
    }
}

/*LOGOIPSUM*/
    .logoipsum-text {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2.5rem;
    }
    .logoipsum-wrapper {
    display: flex;
    background-color: var(--lightgreen-color);
    padding: 1rem;
    border-radius: 20px;
    gap: 1rem;
    margin-bottom: 3rem;
    }
    .logoipsum-text, .logoipsum5-img {
    display: none;
    }
    @media (min-width: 769px) {
    .logoipsum-text, .logoipsum4-img, .logoipsum5-img {
    display: block;
    }
}
    .logoipsum1-img, .logoipsum2-img, .logoipsum3-img, .logoipsum4-img, .logoipsum5-img {
    width: 150px; 
    height: auto;
    }
    /* BRANDS */ 
    .brands-bg {
    background-color: var(--gray-background-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    }
    /* VÄNSTER RUBRIK, TEXT */
    .about-label {
    padding-right: 0.5rem;
    }
.brands-title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    font-weight: 500;
    font-size: 2.9rem;
}
 @media (min-width: 769px) {
    .brands-title {
    text-align: start;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    }
 }
.brands-text {
    font-family: "DM sans", sans-serif;
    font-weight: 400;
    padding-bottom: 2.5rem;
    display: flex;
    text-align: center;
    }
  @media (min-width: 769px) {
    .brands-text {
        text-align: start;
    font-family: "DM sans", sans-serif;
    font-weight: 400;
    padding-bottom: 2.5rem;
    }
}
    .quote-wrapper {
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    font-family: "DM sans", sans-serif;
    font-weight: 600;
    }
    .quote-text {
    position: relative;
    z-index: 1;
    padding: 1rem;
    }
    .quote-icon {
    position: absolute;
    z-index: -1;
    top: 15px;
    right: 10px;
    }
    .brands-divider {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    }
    .about-us-label {
    display: flex;
    justify-content: center;
    }
     @media (min-width: 769px) {
    .about-us-label {
    display: flex;
    justify-content: start;
    }
    /* HÖGER SIDA */
    .brands-text-wrapper {
    flex: 1;
    display: inline-block;
    padding: 1rem;
    }
    }
    .brands-wrapper,
    .training1-img,
    .image-box-img,
    .training2-img {
        display: none;
    }
    /* VÄNSTER SIDA - ENDAST DESKTOP */
    @media (min-width: 769px) {
    .brands-wrapper {
    display: block;
    position: relative;
    height: 650px;  
    flex: 1;
    display: flex;
    flex-direction: row;
    }
    .training1-img {
    display: block;
    position: absolute;
    top: 35px;
    left: 15px;
    }
    .image-box-img {
    display: block;
    position: absolute;
    bottom: 60px;
    left: 20px;
    }
    .training2-img {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    }
    }

    /*PROGRAM SECTION*/
    .programs-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .programs-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .index-titles {
        font-family: "Poppins", sans-serif;
        font-size: 2.9rem;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 1.5rem;
        font-weight: 500;
    }
    @media (min-width: 769px) {
    .index-titles {
        font-size: 3rem;
        padding: 2rem;
        width: 70%;
    }
}
    .program-text {
        font-family: "DM sans", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 2rem;
    }
    /*PROGRAM DESKTOP*/
    @media (min-width: 769px) {
        .programs-wrapper {
        flex-direction: row;
        
    }
}
    /*PRODUCTS SECTION*/
    .products-container {
        background-color: var(--gray-background-color);
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .products-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .products-text {
        font-family: "DM sans", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 2rem;
    }
    /*PROGRAM DESKTOP*/
    @media (min-width: 769px) {
        .products-wrapper {
        flex-direction: row;
        
    }
}
/*ERROR 404 SIDA START*/
.error-wrapper {
 display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3.5rem;
}
.error-404-img {
    width: 100%;
    max-width: 60%;
}
.button {
    display: flex;
    justify-content: center;
}
.error-title {
font-family: "Poppins", sans-serif;
font-size: 3.3rem;
font-weight: 700;
}
.error-text {
font-family: "DM sans", sans-serif;
font-weight: 700;
color: var(--gray-error-font);
padding-top: 1rem;
}
/*ERROR 404 SIDA END*/

/*FOOTER START*/
.footer-box {
    border-radius: 20px;
    background-color: var(--navbar-background);
    margin: 0 auto;
    max-width: 75%;
    padding: 2rem;
}
.footer-title {
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    text-align: end;
    width: 50%; 
    padding-bottom: 2rem;
}
@media (min-width: 769px) {
    .footer-title {
font-size: 1.7rem;
    }
}
.footer-logo {
    width: 120px;
    height: auto;
}
@media (min-width: 769px) {
    .footer-logo  {
        width: auto;
        max-width: none;
    }
}
.footer-right,
.footer-left,
.footer-end-text,
.footer-title {
    color: white;
}
.footer-location,
.footer-workinghours,
.footer-openinghours {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.footer-hours, .footer-hours-end,
.footer-end-text {
    font-family: "DM sans", sans-serif;
    font-weight: 400;    
}
.footer-hours-end {
    padding-bottom: 2rem;
}
.footer-location2 {
    display: none;
}
@media (min-width: 769px) {
    .footer-location2 {
    display: block;
    padding-bottom: 2rem;
    font-family: "DM sans", sans-serif;
    font-weight: 400;    
    }
}
.footer-address {
    font-family: "DM sans", sans-serif;
    font-weight: 400;    
    font-size: 0.8rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.footer-hours {
    text-align: justify;
    text-align-last: justify; /* så working hours texten stretchas ut och blir lika lång som resten*/
}
.footer-container {
    display: flex;
    flex-direction: column;
    background: var(--gray-background-color);
}
.footer-divider {
    display: flex;
    justify-content: space-between;
}
.footer-left {
    width: 45%;
}
.footer-end {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.footer-map {
    display: none;
}
@media (min-width: 769px) {
    .footer-map {
    display: block;
    }
}
/*FOOTER END*/

/*MEMBERSHIPBENEFITS*/
.membership-benefits {
    display: flex;
    justify-content: center;
}
.benefits-text {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding: 1rem;
    font-family: "DM sans", sans-serif;
}

/*MEMBERSHIP*/
.membership-bg {
    background-color: var(--gray-background-color);
    padding-bottom: 2rem;
}
.memberships-main-title {
    color: var(--dark-gray-solid);
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
/*MEMBERSHIPSTANDARD*/

.membership-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
@media (min-width: 798px) {
    .membership-container {
    flex-direction: row;
    }
}
.membership-light-bg {
    background-color: white;
    border-radius: 20px;
    width: 404px;
    padding: 1rem;
}
.membership-title {
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.light-solid {
    height: 1px;
    background-color: var(--dark-gray-solid);
    width: 100%;
    margin-bottom: 1rem;
}
.membership-description, .membership-icon {
    color: var(--light-gray-color);
}
.membership-description, .membership-icon, .membership-monthly, .membership-monthly-classes, .membership-free-trial {
    padding: 0.5rem;
    font-family: "DM sans", sans-serif;
}
.membership-description {
    padding-bottom: 2rem;
}
.membership-darkbox {
    background-color: #080517;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1.5rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;

}
.left-text {
    display: flex;
    align-items: baseline;
}
.membership-price {
    font-family: "DM sans", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 1.5rem;
}
.Membership-btn {
    display: inline-block;
}
.membership-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5rem;
}
.membership-right {
    display: flex;
    justify-content: end;
}
.darkbox-bottom {
    width: 100%;
    padding-top: 1rem;
}
.membership-monthly, .membership-monthly-classes, .membership-free-trial {
    padding-top: 1rem;
    color: white;
    padding: 0.5rem;
}
.membership-dark-bg {
    border-radius: 20px;
    background-color: #080517;
    position: relative; /*Gym-kvinna ikonen hamnar inte utanför boxen*/
    overflow: hidden;
    width: 404px;
    padding: 1.5rem;
}
.Membership-callus-main-title {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.membership-callus-title {
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-family: "DM sans", sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.dark-solid {
    height: 1px;
    background-color: var(--dark-gray-solid);
    width: 100%;
    margin-bottom: 1rem;
}
.membership-callus-text {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 2rem;
}
.Membership-callus-btn {
    display: flex;
    justify-content: center;
}
.gym-woman-img {
    position: relative; 
    bottom: -30px;
    right: -130px;
}
@media (min-width: 768px) {
    .gym-woman-img {
    position: relative; 
    bottom: -30px;
    right: -80px;
    }
}

/*ACCORDION*/
.accordion-container {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
@media (min-width: 768px) {
.accordion-container {
    flex-direction: row;
}
}
.accordion-section1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
}
.accordion-section2 {
    margin-bottom: 3rem;
    padding: 2rem;
}
@media (min-width: 768px) {
.accordion-section2 {
    margin-top: 3rem;
    }
}

.accordion-title {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}
.accordion-question {
 font-family: "Poppins", sans-serif;
 text-decoration: none;
 font-family: 1.2rem;
 color: black;
font-weight: 700;
display: flex;
justify-content: space-between;
padding-top: 2rem;
padding-bottom: 1rem;
}
.accordion-text {
 font-family: "DM sans", sans-serif;
 padding-top: 2rem;
 color: var(--light-gray-color);
}
.accordion-hr {
    background-color: var(--light-gray-solid);
}
/* ACCORDION ICON*/
.fa-angle-down {
    border: 1px solid var(--lightgreen-color);
    border-radius: 50px;
    padding: 0.3rem;
    background-color: var(--lightgreen-color);
}
.accordion-text {
    display: none; 
}
.accordion-item {
cursor: pointer;
}
.arrow-icon {
    transform: rotate(0deg);
}
.accordion-item.active .accordion-text {
    display: block; 
}
.accordion-item.active .arrow-icon {
    transform: rotate(180deg); /* Pilen pekar upp */
}

/*CUSTOMER SERVICE CONTACT US*/
/*vänster*/
.gym-woman {
    border-radius: 20px 20px 20px 20px;
}
@media (min-width: 768px) {
.gym-woman {
   border-radius: 20px 0px 0px 20px;
    }
}
.cs-bg {
    background-color: var(--gray-background-color);
    padding-bottom: 2rem;
}
.cs-title {
    color: black;
    font-family: "poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 3rem;
}
.icon-container {
    position: relative;
    display: inline-block;
}
.icon-2, .icon-3, .icon-4 {
    position: absolute;
}
.icon-2 {
    bottom: -65px;
    left: 40px;
}
.icon-3, .icon-4 {
    background-color: var(--lightgreen-color);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-4 {
    top: 35px;
    right: 190px;
    background-image: url('/images/contact-us-img4.svg');
    padding: 1.55rem;
}
.icon4text, .icon4textbold {
    position: relative; 
    bottom: 136px;
    left: 350px;
    display: flex;
    flex-direction: column;
}
.icon3text, .icon4text {
color: white;
font-family: "poppins", sans-serif;
}
.icon3textbold, .icon4textbold {
color: white;
font-family: "poppins", sans-serif;
font-size: 1.2rem;
font-weight: 600;
}
.icon-3 {    
    top: 35px;
    left: 30px;
    background-image: url('/images/contact-us-img3.svg');
    padding: 0.7rem;
}
.icon3text, .icon3textbold {
    position: relative; 
    bottom: 80px;
    left: 90px;
    display: flex;
    flex-direction: column;
}
/*CUSTOMER SERVICE*/
/*höger sida*/
.cs-left-right-container {
    display: flex;
    flex-direction: column;
    margin: 1rem; 
}
@media (min-width: 768px) {
    .cs-left-right-container {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 0 0; 
    }
}
.cs-left {
    padding-left: 1rem;
}
.cs-right {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .cs-right {
    border-radius: 0px 20px 20px 0px ;
    margin-top: 0rem;
    padding-bottom: 0rem;
    }
}
.cs-right-title {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}
.cs-right-text {
    font-family: "DM sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

/*FORMULÄR*/
.forum-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.form-label {
    font-family: "Poppis", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 1rem;
}
.form-design::placeholder {
    font-size: 1rem;
    font-family: "DM-sans", sans-serif;
    font-weight: 400;
    color: var(--gray-placeholder-text-color);
}
.file-placeholder {
    padding-left: 0.5rem;
    font-size: 1rem;
    font-family: "DM-sans", sans-serif;
    font-weight: 400;
    color: var(--gray-placeholder-text-color);
    pointer-events: none; /* Gör att klicket går igenom texten */
}
.form-design, .custom-upload-wrapper {
        padding: 1.2rem;
}
.custom-upload-wrapper {
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-background-color);
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5rem;
}
.field {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: 2rem;
}
.field input {
    padding: 0.8rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    border: none;
    padding: 1.3rem;
}
input, textarea {
    border: none;
    border-radius: 10px;
    padding: 1rem;
    color: var(--gray-placeholder-text-color);
    background-color: #F7F7F7;
    font-family: "DM sans", sans-serif;
    margin-top: 0.5rem;
}
textarea {
    height: 200px;
    resize: none;  
}
.forms-btn {
margin-top: 1.5rem;
}
/*FORMULÄR END*/

/*POPUP-RUTAN I CUSTOMER SERVICE*/
.popup-container {
    background-color: var(--gray-background-color);
    border: 2px solid black;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 5rem;
    margin-right: 3rem;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.popup-content {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    max-width: 450px;
    width: 90%;
}
.popup-title {
    color: black;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-bottom: 1rem;
}
.popup-message {
    color: black;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
}
.message-btn {
    color: black;
    background: var(--lightgreen-color);
    border-radius: 20px;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: none;
}
.message-btn:hover {
    background: var(--hovergreen-color);
}

/*BECOME MEMBER - REGISTER*/
.social-media-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.register-bg {
    background-color: var(--gray-background-color);
     padding: 3rem 3rem 3rem 3rem;
}
.register-flexbox {
     justify-content: center;
     display: flex;
}
.register-white-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 20px;
    width: 800px;
    height: 830px;
}
.register-text {
    color: #6F6F6F;
}
.register-endnote,
.register-text,
.register-hr-text {
    font-family: "DM sans", sans-serif;
}
.register-middle {
    display: flex;
     gap: 1rem;
}
.register-hr-text {
    display: flex;
    width: 70%;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    color: #6F6F6F;
}
.register-hr {
    background-color: #E6E6E6;
    border: none;
    height: 1px;
    margin: 20px 0;
    width: 100%;
    margin-top: 3rem;
}
.register-title {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
}
.register-green {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.register-btn {
    width: 70%;
    display: flex;
    justify-content: center;
}
/*BECOME MEMBER - REGISTER - END */

/*CHECKBOX*/
.register-endnote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1.5rem;
    color: var(--light-gray-color);
}
.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    position: relative;
}
/* Döljer den riktiga rutan men gör klickbar ovanpå */
.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    width: 16px;
    height: 16px;
    margin: 0;
    z-index: 2;
}
/* Den snygga rutan som är ovanpå */
.checkmark {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--gray-background-color);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}
/* Självaste checkmarken */
.checkmark::after {
    content: '\2713';
    position: absolute;
    display: none;
    color: black;
    font-size: 25px;
    left: 6px;
    top: -2px;
}
.checkbox-wrapper input:checked ~ .checkmark::after {
    display: block;
}
/*CHECKBOX END*/


/*BECOME MEMBER - SETPASSWORD*/
.placeholder-padding-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    gap: 0.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
}
.green-email {
    background-color: rgb(231, 252, 231);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 600;
}

/*MYACCOUNT START*/
.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
@media (min-width: 768px) {
.account-container {
    flex-direction: row;
    align-items: stretch;
}
}

.account-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
/*ACCOUNT - minicolumn*/
.mini-column {
    border-radius: 20px;
    background: white;
    margin-top: 3rem;
}
.account-menu {
    background-color: var(--lightgreen-color);
    border-radius: 20px 20px 0 0;
}
.account-mini-column-text, .account-menu {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 1rem;
}
.account-mini-column-text:hover {
    color: var(--hovergreen-color);
    cursor: pointer;
}
.mini-column-hr {
    background-color: var(--light-gray-solid);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.account-mini-column-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
}
.account-menu, .account-mini-column-text  {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/*ACCOUNT - minicolumn END*/
.account-column-deleteaccount {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}
.deleteaccount {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.65rem;
}
.deleteaccount-red {
    font-family: "Poppins", sans-serif;
    color: var(--remove-account-red);
    font-weight: 600;
    font-size: 0.9rem;
}
/*MYACCOUNT - höger*/
.account-myaccount-column-title {
    display: flex;
    justify-content: center;
    font-family: "Poppis", sans-serif;   
    font-size: 3.2rem;
}
@media (min-width: 768px) {
    .account-myaccount-column-title {
        justify-content: start;
    }
}
.accountform-hr {
      background-color: var(--light-gray-solid);
      margin-top: 3rem;
      margin-bottom: 1.3rem;
    }
.account-form, .statistic-form {
    display: flex;
    flex-direction: column;
    background: white;
    padding-bottom: 3rem;
    padding: 3rem 3rem 3rem 3rem;
    border: 2px solid white;
    border-radius: 20px;
}
.account-field {
    display: flex;
    flex-direction: column;   
}
.account-right {
    flex-grow: 1;
}
.account-btn {
    align-self: end;
    margin-top: 2rem;
    padding-left: 2rem;
}
/*MYACCOUNT END*/


/*FILUPPLADDNING*/
.browse-btn {
    background-color: var(--gray-browse-btn);
    color: #333;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    pointer-events: none; /* Gör att klicket går igenom knappen */
}
/* Denna delen döljer den riktiga knappen browse, så att jag istället kan designa den som jag vill ha den */
#real-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
/*FILUPPLADDNING END*/


/*MY STATISTIC*/
.statistic-title {
    display: flex;
    justify-content: center;
    font-family: "Poppis", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
@media (min-width: 768px) {
    .statistic-title {
        justify-content: start;
    }
}
.statistic-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.statistic-form {
    gap: 1rem;
}
.statistic-spacebetween {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 1rem;
}
.statistics-img {
    width: 100%;
}
