
                                             /*LÄGGA IN ALL STYLING HÄR*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    }

     @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
     @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    }
    :root {
        --navbar-background: #161320;
        --lightgreen-color: #D6EB31;
        --navbar-border: #3A3C24;
        --gray-background-color: #f7f7f7;
        --light-gray-color: #6F6F6F;
        --light-gray-solid: #E6E6E6;
        --dark-gray-solid: #27252F;

        /*HOVER COLORS, DARK*/
        --hovergreen-color:  #aec11e;
    }
    h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
    }
    .container {
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    }
    @media (min-width: 768px) {
    .container {
        max-width: 1296px;
        }
    }
  
    /* NAVBAR - MOBILE FIRST */
    .navbar {
    border: 2px solid var(--navbar-border);
    padding: 1rem;
    background-color: var(--navbar-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    }
    .navbar-text-s {
    display: none;
    }
.green-btn {
    align-items: center;
    display: flex;
    border-radius: 50px;
    background-color: var(--lightgreen-color);
    color: black;
    padding: 1rem 1rem 1rem 1rem;
    font-family: "DM sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    gap: 0.5rem;
}
    .green-btn:hover {
    background-color: var(--hovergreen-color);
    }
    .btn-icon {
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    }
    .dropdown-container {
        display: flex;
        gap: 1rem;
    }
.dropdown {
    display: flex;
    align-items: center;
    color: black;
    border-radius: 10px;
    background: var(--lightgreen-color);
    padding: 1rem 1.2rem 1rem 1.2rem;
    cursor: pointer;
    border: none;
    outline: none;
}
  .dropdown:hover {
    background-color: var(--hovergreen-color);
}
    .desktop-only { 
    display: none; 
    }



/*JAVASCRIPT*/

.hamburger-links {
    border: 2px solid red;
    display: flex;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    text-align: center;
    flex-direction: column;
    background-color: red;
    width: 100%;
    transition: 0.4s;
}

.hamburger-in-links {
    margin: 16px;
}

.hamburger-links.active {
    left: 0;
}
/*JAVASCRIPT END*/




















    /* NAVBAR - DESKTOP */
    @media (min-width: 769px) {
    .navbar-text-s {
    display: block;
    color: white;
    font-family: "DM sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    }
    .navbar-text-s:hover {
        color: var(--lightgreen-color);
    }
    .dropdown {
        display: none;
    }
    .desktop-only { 
        display: flex; 
    }
    .nav-links{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    .nav-actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

    /*HERO - MOBILE FIRST*/
    .bulletin-label {
    border-radius: 50px;
    background: #27252F;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 2rem;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: "DM sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    }
    .hero-wrapper {
    background: var(--navbar-background);
    padding-left: 3rem;
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 4rem;
    padding-bottom: 2rem;
    }
     @media (min-width: 769px) {
        .hero-wrapper {
            padding-bottom: 0;
        }
    }
    .hero-left {
    width: 570px;
    }
    .hero-title {
    border-radius: 50px;
    background: #27252F;
    display: inline-block;
    padding: 1rem;
    margin-top: 2rem;
    }
    .hero-rubrik {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 700px;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    }
    .green-btn-hero {
    margin-top: 3rem;
    display: flex;
    border-radius: 50px;
    background-color: var(--lightgreen-color);
    color:black;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    font-family: "DM sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    border: none;
    outline: none;
    }
    .green-btn-hero:hover {
    background-color: var(--hovergreen-color);
    }
    .hero-text, .hero-icon {
        font-family: "DM sans", sans-serif;
    }
    .hero-icon, .hero-title, .hero-rubrik, .hero-text {
        color: white;
    }
    .hero-icon-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    margin-top: 2rem;
    }
    .hero-icon {
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    }
    hr {
    height: 1px;
    background-color: var(--navbar-border);
    border: none
    }
    .gymcouple-img {
        display: none;
    }

    /* HERO - DESKTOP */
    @media (min-width: 769px) {
    .gymcouple-img {
    display: block;
    }
}

/*LOGOIPSUM*/
    .logoipsum-text {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2.5rem;
    }
    .logoipsum-wrapper {
    display: flex;
    background-color: var(--lightgreen-color);
    padding: 1rem;
    border-radius: 20px;
    gap: 1rem;
    margin-bottom: 3rem;
    }
    .logoipsum-text, .logoipsum5-img {
    display: none;
    }
    @media (min-width: 769px) {
    .logoipsum-text, .logoipsum4-img, .logoipsum5-img {
    display: block;
    }
}
    .logoipsum1-img, .logoipsum2-img, .logoipsum3-img, .logoipsum4-img, .logoipsum5-img {
    width: 150px; 
    height: auto;
    }
    /* BRANDS */ 
    .brands-bg {
    background-color: var(--gray-background-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    }
    /* VÄNSTER RUBRIK, TEXT */
    .about-label {
    padding-right: 0.5rem;
    }
    .brands-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2.9rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    }
    .brands-text {
    font-family: "DM sans", sans-serif;
    font-weight: 400;
    padding-bottom: 2.5rem;
    }
    .quote-wrapper {
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    font-family: "DM sans", sans-serif;
    font-weight: 600;
    }
    .quote-text {
    position: relative;
    z-index: 1;
    padding: 1rem;
    }
    .quote-icon {
    position: absolute;
    z-index: -1;
    top: 15px;
    right: 10px;
    }
    .brands-divider {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    }
    /* HÖGER SIDA */
    .brands-text-wrapper {
    flex: 1;
    display: inline-block;
    padding: 1rem;
    }
    .brands-wrapper,
    .training1-img,
    .image-box-img,
    .training2-img {
        display: none;
    }
    /* VÄNSTER SIDA - ENDAST DESKTOP */
    @media (min-width: 769px) {
    .brands-wrapper {
    display: block;
    position: relative;
    height: 650px;  
    flex: 1;
    display: flex;
    flex-direction: row;
    }
    .training1-img {
    display: block;
    position: absolute;
    top: 35px;
    left: 15px;
    }
    .image-box-img {
    display: block;
    position: absolute;
    bottom: 60px;
    left: 20px;
    }
    .training2-img {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    }
    }

    /*PROGRAM SECTION*/
    .programs-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .programs-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .programs-title1, .programs-title2 {
        font-family: "Poppins", sans-serif;
        font-size: 3rem;
    }
    .programs-title1 {
    padding-top: 2rem;
    }
    .programs-title2 {
    padding-bottom: 2rem;
    }
    .program-text {
        font-family: "DM sans", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 2rem;
    }
    /*PROGRAM DESKTOP*/
    @media (min-width: 769px) {
        .programs-wrapper {
        flex-direction: row;
        
    }
}

    /*PRODUCTS SECTION*/
    .products-container {
        background-color: var(--gray-background-color);
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .products-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .products-title1, .products-title2 {
        font-family: "Poppins", sans-serif;
        font-size: 3rem;
    }
    .products-title1 {
    padding-top: 2rem;
    }
    .products-title2 {
    padding-bottom: 2rem;
    }
    .products-text {
        font-family: "DM sans", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 2rem;
    }
    /*PROGRAM DESKTOP*/
    @media (min-width: 769px) {
        .products-wrapper {
        flex-direction: row;
        
    }
}
/*ERROR START*/
.error-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.button {
    display: flex;
    justify-content: center;
}
.error-title {
font-family: "Poppins", sans-serif;
font-size: 3.3rem;
font-weight: 700;
}
.error-text {
font-family: "DM sans", sans-serif;
font-weight: 700;
color: #575757;
padding-top: 1rem;
}
/*ERROR END*/

/*FOOTER START*/
.footer-box {
    border-radius: 20px;
    background-color: var(--navbar-background);
    margin: 0 auto;
    width: 75%;
    padding: 2rem;
}
.footer-title {
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    text-align: end;
    width: 50%; 
    padding-bottom: 2rem;
}
@media (min-width: 769px) {
    .footer-title {
font-size: 1.7rem;
    }
}
.footer-logo {
    width: 120px;
    height: auto;
}
@media (min-width: 769px) {
    .footer-logo  {
        width: auto;
        max-width: none;
    }
}
.footer-right,
.footer-left,
.footer-end-text,
.footer-title {
    color: white;
}
.footer-location,
.footer-workinghours,
.footer-openinghours {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.footer-hours, .footer-hours-end,
.footer-end-text {
    font-family: "DM sans", sans-serif;
    font-weight: 400;    
}
.footer-hours-end {
    padding-bottom: 2rem;
}
.footer-location2 {
    display: none;
}
@media (min-width: 769px) {
    .footer-location2 {
    display: block;
    padding-bottom: 2rem;
    font-family: "DM sans", sans-serif;
    font-weight: 400;    
    }
}
.footer-address {
    font-family: "DM sans", sans-serif;
    font-weight: 400;    
    font-size: 0.8rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.footer-hours {
    text-align: justify;
    text-align-last: justify; /* så working hours texten stretchas ut och blir lika lång som resten*/
}
.footer-container {
    display: flex;
    flex-direction: column;
    background: var(--gray-background-color);
}
.footer-divider {
    display: flex;
    justify-content: space-between;
}
.footer-left {
    width: 45%;
}
.footer-end {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.footer-map {
    display: none;
}
@media (min-width: 769px) {
    .footer-map {
    display: block;
    }
}
/*FOOTER END*/


/*MEMBERSHIPBENEFITS*/
.membership-benefits {
    display: flex;
    justify-content: center;
}
.benefits-text {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding: 1rem;
    font-family: "DM sans", sans-serif;
}




/*MEMBERSHIP*/
.membership-bg {
    background-color: var(--gray-background-color);
}
.memberships-main-title {
    color: var(--dark-gray-solid);
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
/*MEMBERSHIPSTANDARD*/

.membership-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
@media (min-width: 798px) {
    .membership-container {
    flex-direction: row;
    }
}
.membership-light-bg {
    background-color: white;
    border-radius: 20px;
    width: 404px;
    padding: 1rem;
}
.membership-title {
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.light-solid {
    height: 1px;
    background-color: var(--dark-gray-solid);
    width: 100%;
    margin-bottom: 1rem;
}
.membership-description, .membership-icon {
    color: var(--light-gray-color);
}
.membership-description, .membership-icon, .membership-monthly, .membership-monthly-classes, .membership-free-trial {
    padding: 0.5rem;
    font-family: "DM sans", sans-serif;
}
.membership-description {
    padding-bottom: 2rem;
}
.membership-darkbox {
    background-color: #080517;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1.5rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;

}
.left-text {
    display: flex;
    align-items: baseline;
}
.membership-price {
    font-family: "DM sans", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 1.5rem;
}
.Membership-btn {
    display: inline-block;
}
.membership-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5rem;
}
.membership-right {
    display: flex;
    justify-content: end;
}
.darkbox-bottom {
    width: 100%;
    padding-top: 1rem;
}
.membership-monthly, .membership-monthly-classes, .membership-free-trial {
    padding-top: 1rem;
    color: white;
    padding: 0.5rem;
}
.membership-dark-bg {
    border-radius: 20px;
    background-color: #080517;
    position: relative; /*Gym-kvinna ikonen hamnar inte utanför boxen*/
    overflow: hidden;
    width: 404px;
    padding: 1.5rem;
}
.Membership-callus-main-title {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.membership-callus-title {
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-family: "DM sans", sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.dark-solid {
    height: 1px;
    background-color: var(--dark-gray-solid);
    width: 100%;
    margin-bottom: 1rem;
}
.membership-callus-text {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 2rem;
}
.Membership-callus-btn {
    display: flex;
    justify-content: center;
}
.gym-woman-img {
    position: relative; 
    bottom: -30px;
    right: -130px;
}
@media (min-width: 768px) {
    .gym-woman-img {
    position: relative; 
    bottom: -30px;
    right: -80px;
    }
}






