
    
    <div class="membership-container">
    
    <div class="membership-light-bg">

    <img src="~/images/hantlar-img.svg" alt="barbell icon" class="hantlar-img">
    <div class="membership-title">Standard Membership</div>


    <hr class="light-solid"></hr>

    <div class="membership-text">With the Standard Membership, get access to our full range of gym facilities.</div>

    <div class="membership-icon">
        <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
        <span>Standard Locker</span>
    </div>

        <div class="membership-icon">
        <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
        <span>High-energy group fitness classes</span>
    </div>

        <div class="membership-icon">
        <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
        <span>Motivating & supportive environment</span>
    </div>
  



        <div class="membership-darkbox"> 
            <div class="membership-left"> 
                <div class="left-text">
            <div class="membership-darkbox-text-bold">495.00</div>
             <div class="membership-darkbox-text">/monthly</div>
        </div>
            <div class="membership-darkbox-text">* Monthly 20 classes</div>
            </div>

<div class="membership-right"> 
            <div class="Membership-btn">
                <a asp-controller="Auth" asp-action="Register" class="green-btn">
                   Join Now
                    <img src="~/images/navbarknapp.svg" class="btn-icon" alt="">
                    </a>
                </div>
</div>

<div class="darkbox-bottom">
            <hr class="light-solid"></hr>


           <div class="membership-darkbox-text">Try Any Membership Free for 1 Week</div>
        </div>
    </div>
</div>