

    <div class="membership-callus-container">
    
    <div class="Membership-callus-main-title">Get Your Membership</div>

    <div class="membership-callus-title">Our memberships give you access to all equipment, personalized training.</div>

    <hr class="dark-solid"></hr>

    <div class="membership-callus-text">Call Us At: +(46) 8 410 521 00</div>

            <div class="Membership-callus-btn ">
                <a asp-controller="Auth" asp-action="Register" class="green-btn">
                   Call Us Today!
                    <img src="~/images/navbarknapp.svg" class="btn-icon" alt="">
                    </a>
</div>

<img src="~/images/gym-woman-img.svg" class="gym-woman-img" alt="">
    
</div>
    