@using CoreFitness.Domain.MembershipPlans
@model IReadOnlyCollection<MembershipPlanDto>



    <div class="memberships-main-title">Our Membership Offers</div>




<div class="membership-container">
    @if (Model.Count > 0)
        {
            foreach (var plan in Model)
            {
                <partial name="Partials/Memberships/_MembershipCard" model="plan" />
            }
        }
        else
        {
                <p>No available plans.</p>
        }



 
        <partial name="Partials/Memberships/_MembershipCallUs" />
    </div>
