       <div class="membership-bottom-icons">
       
       
        <img src="~/images/kalender-img.svg" alt="checkbox icon" class="kalender-fill-img">
        <span>Get 30 day free trial</span>
 

         
        <img src="~/images/kort-img.svg" alt="checkbox icon" class="kort-fill-img">
        <span>No any hidden fees pay</span>


        
        <img src="~/images/klocka-img.svg" alt="checkbox icon" class="klocka-fill-img">
        <span>You can cancel anytime</span>
 
    
    </div>