<div class="membership-bg">
    <div class="memberships-main-title">Our Membership Offers</div>

    <div class="membership-list"> 
<div class="membership-list">
        <partial name="Partials/Memberships/_MembershipCard" />
        </div>

<div class="membership-list">
        <partial name="Partials/Memberships/_MembershipCard" />
</div>      


<div class="membership-list">
        <partial name="Partials/Memberships/_MembershipCallUs" />
    </div>
</div>
</div>