       <div class="membership-benefits">
       
       <div class="benefits-text"> 
        <img src="~/images/kalender-img.svg" alt="checkbox icon" class="benefits-img">
        <div>Get 30 day free trial</div>
 </div>

<div class="benefits-text">
        <img src="~/images/kort-img.svg" alt="checkbox icon" class="benefits-img">
        <div>No any hidden fees pay</div>
</div>

<div class="benefits-text">
        <img src="~/images/klocka-img.svg" alt="checkbox icon" class="benefits-img">
        <div>You can cancel anytime</div>
 </div>


    
    </div>