
<!-- RAZOR KOD - Html blandat med C# -->
<!-- HÄR SKRIVER VI DET SOM SKA SYNAS PÅ ALLA SIDOR, TEX NAVBAR, FOOTER. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreFitness</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoreFitness.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>


    <div class="wrapper">
        
        <header>
            <partial name="Partials/_Navbar" />
        </header>

       
        <main>
            @RenderBody()
        </main>



         @if (ViewData["HideFooter"] == null) //Döljer footern på SetPassword, Register och SignnIn. Detta då jag har lagt in koden: "ViewData["HideFooter"] = true;" på just dessa sidorna.
        {
            <footer> 
                <partial name="Partials/_Footer" />
            </footer>
        }


    </div>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
