<!-- Kopplad till Controllers/HomeController.cs -->

<!--För att det ska stå "Home" i webbläsarens flik-->
@{
    ViewData["Title"] = "Home";
}

<!-- HERO SECTION-->
<div class="hero-wrapper">
<div class="hero-left"> 

<div class="hero-title"> Strong Body. Strong Mind.</div>
<div class="hero-rubrik"> Build Strength Boost Confidence Today! </div>
<div class="hero-text">Begin your fitness journey with expert trainers, modern equipment, and a supportive environment designed to help you build streangth and confidence.</div>

<div class="hero-icon-wrapper">

<div class="hero-icon">
    <img src="~/images/check.svg" alt="CoreFitness Logo" class="logo-img">
    <span>Transform your body with training</span>
</div>

<div class="hero-icon">
    <img src="~/images/check.svg" alt="CoreFitness Logo" class="logo-img">
    <span>Build confidence through fitness</span>
</div>

<div class="hero-icon">
    <img src="~/images/check.svg" alt="CoreFitness Logo" class="logo-img">
        <span>Personal training for real results</span>
    </div>

<div class="hero-icon">
    <img src="~/images/check.svg" alt="CoreFitness Logo" class="logo-img">
        <span>Fitness tailored to your goals</span>
    </div>
</div>

<hr></hr>

<button class="green-btn-hero">
    Get Started
    <img src="~/images/navbarknapp.svg" class="btn-icon" alt="">
</button>

</div>
<img src="~/images/hero-gymcouple.svg" alt="CoreFitness Logo" class="gymcouple-img">
</div>


<!-- LOGOIPSUM SECTION -->

<div class ="logoipsum-wrapper"> 

<img src="~/images/logoipsum1.svg" alt="brands logo" class="logoipsum1-img">
<img src="~/images/logoipsum2.svg" alt="brands logo" class="logoipsum2-img">
<img src="~/images/logoipsum3.svg" alt="brands logo" class="logoipsum3-img">
<img src="~/images/logoipsum4.svg" alt="brands logo" class="logoipsum4-img">
<img src="~/images/logoipsum5.svg" alt="brands logo" class="logoipsum5-img">

<div class="logoipsum-text">Modern Equipment</div> 
    </div>


<!-- LOGOIPSUM SECTION -->
