<!-- Kopplad till Controllers/HomeController.cs -->

<!--För att det ska stå "Home" i webbläsarens flik-->
@{
    ViewData["Title"] = "Home";
}

<!-- HERO START-->
<div class="hero-wrapper">
<div class="hero-left"> 





<div class="bulletin-label">
    <img src="~/images/title-bullet.svg" alt="bulletin Logo" class="title-bullet-img">
    <div class="about-label">Strong Body. Strong Mind.</div>
</div>

<div class="hero-rubrik"> Build Strength Boost Confidence Today! </div>
<div class="hero-text">Begin your fitness journey with expert trainers, modern equipment, and a supportive environment designed to help you build streangth and confidence.</div>

<div class="hero-icon-wrapper">

<div class="hero-icon">
    <img src="~/images/check.svg" alt="CoreFitness Logo" class="logo-img">
    <span>Transform your body with training</span>
</div>

<div class="hero-icon">
    <img src="~/images/check.svg" alt="CoreFitness Logo" class="logo-img">
    <span>Build confidence through fitness</span>
</div>

<div class="hero-icon">
    <img src="~/images/check.svg" alt="CoreFitness Logo" class="logo-img">
        <span>Personal training for real results</span>
    </div>

<div class="hero-icon">
    <img src="~/images/check.svg" alt="CoreFitness Logo" class="logo-img">
        <span>Fitness tailored to your goals</span>
    </div>
</div>

<hr></hr>

<button class="green-btn-hero">
    Get Started
    <img src="~/images/navbarknapp.svg" class="btn-icon" alt="">
</button>

</div>
<img src="~/images/hero-gymcouple.svg" alt="CoreFitness Logo" class="gymcouple-img">
</div>
<!-- HERO END -->


<!-- LOGOIPSUM START -->
<div class="brands-bg">
<div class ="logoipsum-wrapper"> 

<img src="~/images/logoipsum1.svg" alt="brands logo" class="logoipsum1-img">
<img src="~/images/logoipsum2.svg" alt="brands logo" class="logoipsum2-img">
<img src="~/images/logoipsum3.svg" alt="brands logo" class="logoipsum3-img">
<img src="~/images/logoipsum4.svg" alt="brands logo" class="logoipsum4-img">
<img src="~/images/logoipsum5.svg" alt="brands logo" class="logoipsum5-img">

<div class="logoipsum-text">Modern Equipment</div> 
    </div>
<!-- LOGOIPSUM END -->





<!-- BRANDS START -->
<div class="brands-divider">

<div class="brands-wrapper">
<img src="~/images/training1.svg" alt="brands logo" class="training1-img">
<img src="~/images/image-box.svg" alt="brands logo" class="image-box-img">
<img src="~/images/training2.svg" alt="brands logo" class="training2-img">

</div>





<div class="brands-text-wrapper">
<div class="bulletin-label">
    <img src="~/images/title-bullet.svg" alt="bulletin Logo" class="title-bullet-img">
    <div class="about-label">About us</div>
</div>

<div class="brands-title">Elevating Fitness Journey with Expert Guidance</div>
<div class="brands-text">We support every stage of your fitness journey with certified trainers, personalized programs proven methods designed to help you train safely, build strength.</div>

<div class="quote-wrapper">
    <div class="quote-text">
        Our mission is to transform lives by combining expert guidance, 
        powerful training programs, and a motivating community that helps 
        you grow stronger every day.
        <img src="~/images/quote-img.svg" alt="quote icon" class="quote-icon">
        </div>
    </div>
</div>
</div>
</div>
</div>