<!-- Error sidans design-->




<div class="error-wrapper">


<img src="~/images/404-error-img.svg" alt="Error message" class="404-error-img">
<div class="error-title">Oops! page not found</div>
<div class="error-text">The page you are looking for does not exists.</div>

<div class="button">
<button class="green-btn-hero">
    Back to Homepage
    <img src="~/images/navbarknapp.svg" class="btn-icon" alt="">
</button>
</div>


</div>