
                                             /*LÄGGA IN ALL STYLING HÄR*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    }

     @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
     @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: DM sans;
    src: url('../fonts/dm-sans/DMSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    }
    :root {
        --navbar-background: #161320;
        --lightgreen-color: #D6EB31;
        --navbar-border: #3A3C24;

        /*HOVER COLORS, DARK*/
        --hovergreen-color:  #aec11e;
    }
    h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
    }
    .container {
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    }
    @media (min-width: 768px) {
    .container {
        max-width: 1296px;
        }
    }
  
    /* NAVBAR - MOBILE FIRST */
    .navbar {
    border: 2px solid var(--navbar-border);
    padding: 1rem;
    background-color: var(--navbar-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    }
    .navbar-text-s {
    display: none;
    }
    .green-btn {
    display: flex;
    border-radius: 50px;
    background-color: var(--lightgreen-color);
    color:black;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    font-family: "DM sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    border: none;
    outline: none;
    }
    .green-btn:hover {
    background-color: var(--hovergreen-color);
    }
    .btn-icon {
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    }
    .dropdown-container {
       display: flex;
    }
    .dropdown {
        display: flex;
        align-items: center;
        color:var(--lightgreen-color);
        padding: 0.5rem;
    }
    .desktop-only { 
    display: none; 
    }

    /* NAVBAR - DESKTOP */
    @media (min-width: 769px) {
    .navbar-text-s {
    display: block;
    color: white;
    font-family: "DM sans", sans-serif;
    font-size: 1rem;
    }
    .navbar-text-s:hover {
        color: var(--lightgreen-color);
    }
    .dropdown {
        display: none;
    }
    .desktop-only { 
        display: flex; 
    }
    .nav-links{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    .nav-actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}


/*HERO - MOBILE FIRST*/
/*VÄNSTER*/
.hero-wrapper {
    background: var(--navbar-background);
    padding: 3rem;
}

.hero-title {
    border-radius: 50px;
    background: #27252F;
    display: inline-block;
}

.hero-icon, .hero-title, .hero-rubrik, .hero-text {
    color: white;
}

.hero-icon-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

hr {
    height: 1px;
    background-color: var(--navbar-border);
    border: none
}






/*HÖGER*/
.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    gap: 4rem;
    
    background: var(--navbar-background);
    padding: 3rem;
}

.hero-right img {
    max-width: 500px; 
    width: 100%;
    height: auto;
    display: block;
}




