@using CoreFitness.Presentation.Models
@model RegisterFormModel



@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScripts.cshtml" />      <!-- skriver ut felmeddelande -->
}





<div class="register-bg">
    <div class="register-flexbox">
    <div class="register-white-form">

<!-- Denna styr så den går till HandleRegister i AuthController -->
<form method="post" asp-controller="Auth" asp-action="Register" novalidate>

<div class="register-title">Become a Member</div>
<div class="register-text">Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</div>
<hr class="register-hr">


<div>google</div>
<div>facebook</div>
<div>instagram</div>

<div class="register-middle">
<hr class="register-hr"><div class="register-hr-text">OR CONTINUE WITH</div><hr class="register-hr">
</div>



                <!-- LÄGGER TILL MODELLEN FRÅN RegisterFormModel -->
<div class="forum-4">
            <label asp-for="Email" class="email-label"> Email Address * </label>
            <input asp-for="Email" class="email-form-design" placeholder="Enter Email Address">                  <!-- design-->
            <span asp-validation-for="Email"></span>                                <!-- skriver ut felmeddelande -->

</div>


                        <div class="register-green">
                        <button class="green-btn register-btn"> Continue
                             <i class="fa-solid fa-angle-right"></i>
                        </button>
                        </div>


<div class="register-endnote">We will send a verification code to your email address.</div>

</form>

</div>
</div>
</div>



