@using CoreFitness.Presentation.Models
@model RegisterFormModel



@{
    ViewData["Title"] = "Sign up";  //sätter titeln som visas i webbläsarens flik (längst upp i fönstret/ i taben)
    ViewData["HideFooter"] = true;  //döljer footern
}

@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScripts.cshtml" />      <!-- skriver ut felmeddelande -->
}





<div class="register-bg">
    <div class="register-flexbox">
    <div class="register-white-form">

<!-- Denna styr så den går till HandleRegister i AuthController -->
<form method="post" asp-controller="Auth" asp-action="Register" novalidate>

<div class="register-title">Become a Member</div>
<div class="register-text">Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</div>
<hr class="register-hr">




<div class="social-media-container">
<img src="~/images/google.svg" alt="CoreFitness Logo" class="logo-img">
<img src="~/images/facebook.svg" alt="CoreFitness Logo" class="logo-img">
<img src="~/images/github.svg" alt="CoreFitness Logo" class="logo-img">
</div>

<div class="register-middle">
<hr class="register-hr"><div class="register-hr-text">OR CONTINUE WITH</div><hr class="register-hr">
</div>


                <!-- LÄGGER TILL MODELLEN FRÅN RegisterFormModel -->
<div class="placeholder-padding-wrapper">
    <label asp-for="Email" class="form-label">Email Address *</label>
    <input asp-for="Email" class="form-design">                       <!-- design-->
    <span asp-validation-for="Email"></span>                          <!-- skriver ut felmeddelande -->
</div>


        <div class="register-green">
            <button type="submit" class="green-btn register-btn"> Continue
            <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>


<div class="register-endnote">We will send a verification code to your email address.</div>

</form>

</div>
</div>
</div>



