@using CoreFitness.Presentation.Models
@model SetPasswordFormModel

@{
    ViewData["Title"] = "set password";
}





<div class="register-bg">
    <div class="register-flexbox">
    <div class="register-white-form">

<!-- Denna styr så den går till HandleRegister i AuthController -->
<form method="post" asp-controller="Auth" asp-action="SetPassword" novalidate>

<div class="register-title">Set Your Password</div>
<div class="register-text">Set a strong password to protect your account. For security reasons, your password must be at least 8 characters long and include uppercase and lowercase letters, numbers, and special characters.</div>
<hr class="register-hr">




                <!-- LÄGGER TILL MODELLEN FRÅN RegisterFormModel -->
        <div class="placeholder-padding-wrapper">Email Address
        @if (!string.IsNullOrEmpty(ViewBag.UserEmail))
                {
                <div class="green-email">
                        @ViewBag.UserEmail
                </div>
                }

 

        <label asp-for="Password" class="password-label">Password</label>
        <input asp-for="Password" class="password-form-design">                  <!-- design-->
        <span asp-validation-for="Password"></span>                                <!-- skriver ut felmeddelande -->


        <label asp-for="ConfirmPassword" class="password-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="password-form-design" type="password">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
</div>








                        <div class="register-green">
                        <button type="submit" class="green-btn register-btn"> Continue
                             <i class="fa-solid fa-angle-right"></i>
                        </button>
                        </div>


                    <div class="register-endnote">Accept user terms and conditions </div>

</form>

</div>
</div>
</div>