@{
    ViewData["Title"] = "set password";
}



        <!-- <form method="post" asp-controller="Auth" asp-action="SetPassword" novalidate> osäker på om denna ska va här-->
<h1>Set password sida</h1>
        <!--</form>-->