@using CoreFitness.Presentation.Models
@model SetPasswordFormModel

@{
    ViewData["Title"] = "Set Password";
    ViewData["HideFooter"] = true;  //döljer footern
}


@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScripts.cshtml" />      <!-- skriver ut felmeddelande -->
}


<div class="register-bg">
    <div class="register-flexbox">
    <div class="register-white-form">

<!-- Denna styr så den går till HandleRegister i AuthController -->
<form method="post" asp-controller="Auth" asp-action="SetPassword">
    <input type="hidden" name="email" value="@ViewBag.UserEmail" />

<div class="register-title">Set Your Password</div>
<div class="register-text">Set a strong password to protect your account. For security reasons, your password must be at least 8 characters long and include uppercase and lowercase letters, numbers, and special characters.</div>
<hr class="register-hr">




        <!-- LÄGGER TILL MODELLEN FRÅN RegisterFormModel -->
        <div class="placeholder-padding-wrapper">Email Address
        @if (!string.IsNullOrEmpty(ViewBag.UserEmail))
                {
                <div class="green-email">
                        @ViewBag.UserEmail
                </div>
                }

 

        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-design">                  <!-- design-->
        <span asp-validation-for="Password"></span>                     <!-- skriver ut felmeddelande -->


        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-design" type="password">
        <span asp-validation-for="ConfirmPassword"></span>
</div>








                        <div class="register-green">
                        <button type="submit" class="green-btn register-btn"> Continue
                             <i class="fa-solid fa-angle-right"></i>
                        </button>
                        </div>



                        <!-- CHECKBOX RUTA -->
  
                        <div class="register-endnote">
                        <label class="checkbox-wrapper">
                                <input asp-for="TermsAccepted" type="checkbox" />
                                
                                <span class="checkmark"></span>
                                
                                <span class="label-text">Accept user terms and conditions</span>
                        </label>
                        <span asp-validation-for="TermsAccepted" class="text-danger"></span>
                        </div>

</form>

</div>
</div>
</div>