@using CoreFitness.Presentation.Models
@model SignInFormModel


@{
    ViewData["Title"] = "Sign in";
}

@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScripts.cshtml" />      <!-- skriver ut felmeddelande -->
}

<div class="container"> 
<div class="register-title">Sign In Sida</div>








</div>
