

<div class="accordion-container">
    <div class="accordion-section1">
    <img src="~/images/accordion-img.svg" alt="CoreFitness Logo" class="logo-img">
    </div>





<div class="accordion-section2">
    <div class="bulletin-label">
        <img src="~/images/title-bullet.svg" alt="bulletin Logo" class="title-bullet-img">
        <div class="about-label">Frequently Asked Questions</div>
    </div>


    <div class="accordion-title">
            Common questions about gym and training
    </div>










<div class="accordion-menu"> 

<div class="accordion-item">
    <div class="accordion-question">
        <span>Q1. Do I need prior gym experience to Join CoreFitness?</span>
        <i class="fa-solid fa-angle-down arrow-icon"></i>
    </div>
    <hr class="accordion-hr">
    <div class="accordion-text">
        <p>No, GymPro is designed for all fitness levels. Our trainers guide beginners with 
            proper techniques and structured workout plans to help them start safely and 
            confidently.</p>
    </div>
</div>

<div class="accordion-item">
    <div class="accordion-question">
        <span>Q2. What facilities are included with the membership?</span>
        <i class="fa-solid fa-angle-down arrow-icon"></i>
    </div>
    <hr class="accordion-hr">
    <div class="accordion-text">
        <p>No, GymPro is designed for all fitness levels. Our trainers guide beginners with 
            proper techniques and structured workout plans to help them start safely and 
            confidently.</p>
    </div>
</div>

<div class="accordion-item">
    <div class="accordion-question">
        <span>Q3. Can I try them gym before taking a membership?</span>
        <i class="fa-solid fa-angle-down arrow-icon"></i>
    </div>
    <hr class="accordion-hr">
    <div class="accordion-text">
        <p>No, GymPro is designed for all fitness levels. Our trainers guide beginners with 
            proper techniques and structured workout plans to help them start safely and 
            confidently.</p>
    </div>
</div>

<div class="accordion-item">
    <div class="accordion-question">
        <span>Q4. Are there group workout programs available?</span>
        <i class="fa-solid fa-angle-down arrow-icon getstartedbtn"></i>
    </div>
    <hr class="accordion-hr">
    <div class="accordion-text">
        <p>No, GymPro is designed for all fitness levels. Our trainers guide beginners with 
            proper techniques and structured workout plans to help them start safely and 
            confidently.</p>
    </div>
</div>

<div class="accordion-item">
    <div class="accordion-question">
        <span>Q5. Is nutrition guidance included in the plans?</span>
        <i class="fa-solid fa-angle-down arrow-icon"></i>
    </div>
    <hr class="accordion-hr">
    <div class="accordion-text">
        <p>No, GymPro is designed for all fitness levels. Our trainers guide beginners with 
            proper techniques and structured workout plans to help them start safely and 
            confidently.</p>
    </div>
</div>



</div>




















    </div>
</div>