
    
    <div class="membership-container">
    
    <img src="~/images/hantlar-img.svg" alt="barbell icon" class="hantlar-img">
    <div class="membership-text">Standard Membership</div>

    <hr>

    <div>With the Standard Membership, get access to our full range of gym facilities.</div>

    <div class="membership-icon">
        <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
        <span>Standard Locker</span>
    </div>

        <div class="membership-icon">
        <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
        <span>High-energy group fitness classes</span>
    </div>

        <div class="membership-icon">
        <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
        <span>Motivating & supportive environment</span>
    </div>




        <div class="membership-darkbox"> 
            <div class="membership-darkbox-text">495.00/monthly</div>
            <div class="membership-darkbox-text">green btn</div>
            <div class="membership-darkbox-text">* Monthly 20 classes</div>
            <hr>
           <div class="membership-darkbox-text">Try Any Membership Free for 1 Week</div>
        </div>

    </div>