
<div class="navbar">

<div class="nav-logo">
        <a asp-controller="Home" asp-action="Index" class="nav-logo">
            <img src="~/images/logotype.svg" alt="CoreFitness Logo" class="logo-img">
            </a>
    </div>




<div class="nav-links desktop-only">
    <a class="navbar-text-s" asp-controller="Home" asp-action="FitnessCenters">Fitness Centers</a>
    <a class="navbar-text-s" asp-controller="Home" asp-action="Memberships">Memberships</a>

<!-- DESKTOP TRAINING MENU -->   
    <div class="dropdown-training-container">  
        <a class="navbar-text-s">
        Training <i class="fa-solid fa-chevron-down"></i>
        </a>
            <ul class="training-menu">
            <li class="training-in-links">
                <a class="training-menu-text"
                asp-controller="Error"
                asp-action="ErrorHandler"
                asp-route-statusCode="404">Personal Training</a>
                </li>
            <li class="training-in-links">
                <a class="training-menu-text"
                asp-controller="Error"
                asp-action="ErrorHandler"
                asp-route-statusCode="404">Group Training</a>
                </li>
            <li class="training-in-links">
                <a class="training-menu-text"
                asp-controller="Error"
                asp-action="ErrorHandler"
                asp-route-statusCode="404">Padel</a>
                </li>
        </div>

    <a class="navbar-text-s" asp-controller="Home" asp-action="CustomerService">Customer Service</a>
    <a class="navbar-text-s" asp-controller="Home" asp-action="Store">Store</a>
</div>

<div class="nav-actions">
    <a class="navbar-text-s" asp-controller="Auth" asp-action="Register">Become member</a>

            <div class="dropdown-container">
                <a asp-controller="Auth" asp-action="SignIn" class="green-btn">
                    Sign In
                    <i class="fa-solid fa-angle-right"></i>
                    </a>
                

<!-- MOBILE FIRST HAMBURGER MENU -->   
<button data-target="#menu" class="dropdown">  
    <i class="fa-solid fa-bars"></i>
</button>
 

<ul class="hamburger-menu">
<li class="hamburger-in-links">
    <a class="hamburger-text" asp-controller="Home" asp-action="FitnessCenters">Fitness Centers</a>
    </li>
<li class="hamburger-in-links">
    <a class="hamburger-text" asp-controller="Home" asp-action="Memberships">Memberships</a>
    </li>
<li class="hamburger-in-links">
    <a class="hamburger-text" asp-controller="Home" asp-action="Training">Training</a>
    </li>
<li class="hamburger-in-links">
    <a class="hamburger-text" asp-controller="Home" asp-action="CustomerService">Customer Service</a>
    </li>
<li class="hamburger-in-links">
    <a class="hamburger-text" asp-controller="Home" asp-action="Store">Store</a>
    </li>
</ul></div>
<!-- MOBILE FIRST -->


    </div>
</div>
