
<div class="bulletin-label">
    <img src="~/images/title-bullet.svg" alt="bulletin Logo" class="title-bullet-img">
    <div class="about-label">Frequently Asked Questions</div>
</div>
<div class="questions-title">Common questions about gym and training</div>




<!--lägg till bild på man som gymmar etc-->