<!-- Kopplad till Controllers/HomeController.cs -->
<!--För att det ska stå "CustomerService" i webbläsarens flik-->
@{
    ViewData["Title"] = "Customer Service";
}



<h1>CustomerService sida</h1>


<partial name="Partials/_Questions" />