<!-- Kopplad till Controllers/HomeController.cs -->
<!--För att det ska stå "Memberships" i webbläsarens flik-->
@{
    ViewData["Title"] = "Memberships";
}

<div class="membership-bg"
<h1>Our Membership Offers</h1>

<partial name="Partials/_MembershipStandard" />
<partial name="Partials/_MembershipPremium" />
<partial name="Partials/_MembershipCallUs" />

<partial name="Partials/_Questions" />

</div>