<!-- Kopplad till Controllers/HomeController.cs -->
<!--För att det ska stå "Memberships" i webbläsarens flik-->
@{
    ViewData["Title"] = "Memberships";
}



<div class="membership-bg">

<div class="memberships-main-title">Our Membership Offers</div>

<partial name="Partials/_MembershipStandard" />
<partial name="Partials/_MembershipPremium" />
<partial name="Partials/_MembershipCallUs" />
</div>

<div class="membership-bg">
<partial name="Partials/_Questions" />
</div>
