<!-- Kopplad till Controllers/HomeController.cs -->
<!--För att det ska stå "Store" i webbläsarens flik-->
@{
    ViewData["Title"] = "Store";
}



<div class="container"> 
    
    
<h1>Store</h1>


</div>