<div class="footer-box">




    <div class="title-container">
<img src="~/images/logotype.svg" alt="logotype" class="logotype">
<div class="footer-title">Empowering Your Fitness Journey with Expert Training and Lasting Results</div>

</div>



</div>