
<div class="navbar">

<div class="nav-logo">
        <img src="~/images/logotype.svg" alt="CoreFitness Logo" class="logo-img">
    </div>

<div class="navbar-text-s">Memberships</div>
<div class="navbar-text-s">Training</div>
<div class="navbar-text-s">Customer Service</div>
<div class="navbar-text-s">Store</div>

<div class="navbar-text-s">Become Member</div>

<button class="green-btn">
    Sign in
    <img src="~/images/navbarknapp.svg" class="btn-icon" alt="">
</button>

<div class="dropdown"> <!-- MOBILE FIRST -->
        <img src="~/images/dropdown.svg" alt="dropdown Logo" class="logo-img">
    </div>





</div>
