
<div class="navbar">

<div class="nav-logo">
        <img src="~/images/logotype.svg" alt="CoreFitness Logo" class="logo-img">
    </div>
<div class="navbar-text-s">Memberships</div>
<div class="navbar-text-s">Training</div>
<div class="navbar-text-s">Customer Service</div>
<div class="navbar-text-s">Store</div>
<div class="navbar-text-s">Become Member</div>
<div class="green-btn">sign in</div>

</div>
