<!-- Kopplad till Controllers/AuthController.cs -->
<!--För att det ska stå "Register" i webbläsarens flik-->
@{
    ViewData["Title"] = "My Account - About Me";
}
<div class="account-bg"> 

<h1>My Account</h1>

<div class="account-container"> 

<div class="account-left">  
<img src="~/images/profilepic.svg" alt="Profile picture" class="profilepic-img">

<div class="mini-column">
    <div class="">Menu Options</div>
    <div class="">About Me</div>
    <div class="">My Membership</div>
    <div class="">My Bookings</div>
    <div class="">Sign Out</div>
</div>
<div>If you like to cancel your account click below</div>
<div>Remove Account</div>

</div>







<div class="account-right"> 
<div>About me</div>
<hr>




<div>My Statistics</div>
<div class="statistic-bg"
<div class="statistic-spacebetween">
<div>Check-In (last 30 days)</div>
<div>25</div>
</div>

<div class="statistic-spacebetween">
<div>Weight Goal</div>
<div>50%</div>
</div>

<div class="statistic-spacebetween">
<div>Current BMI</div>
<div>27</div>
</div>

</div>
</div>







</div> <!-- bg end -->
</div> <!-- container end -->