
@using CoreFitness.Application.Models
@model MyAccountFormModel



<!-- Kopplad till Controllers/AuthController.cs -->
<!--För att det ska stå "Register" i webbläsarens flik-->
@{
    ViewData["Title"] = "My Account - About Me";
}


@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScripts.cshtml" />      <!-- skriver ut felmeddelande -->
}


<form method="post" asp-controller="MyAccount" asp-action="Upload" enctype="multipart/form-data" novalidate>

<div class="register-title account-title">My Account</div>

<div class="container"> 
<div class="account-container"> 

<div class="account-left">  
<img src="~/images/profilepic.svg" alt="Profile picture" class="profilepic-img">

<div class="mini-column">
    <div class="account-menu">Menu Options</div>

    <a class="account-mini-column-text"
    asp-controller="Error" asp-action="ErrorHandler" asp-route-statusCode="404">About Me
        <i class="fa-solid fa-angle-right"></i>
    </a>

    <hr class="mini-column-hr">

        <a class="account-mini-column-text"
    asp-controller="Error" asp-action="ErrorHandler" asp-route-statusCode="404">My Membership
        <i class="fa-solid fa-angle-right"></i>
    </a>

<hr class="mini-column-hr">

    <a class="account-mini-column-text"
        asp-controller="Error" asp-action="ErrorHandler" asp-route-statusCode="404">My Bookings
        <i class="fa-solid fa-angle-right"></i>
    </a>
    
    <hr class="mini-column-hr">

    <div class="account-mini-column-text">Sign Out
        <i class="fa-solid fa-angle-right"></i>
    </div>
</div>


<div class="account-column-deleteaccount">
<div class="deleteaccount">If you like to cancel your account click below</div>
<div class="deleteaccount-red">Remove Account</div>
</div>
</div>

<div class="account-right"> 
    <div class="account-myaccount-column">


 <div class="account-form">       
<div class="account-myaccount-column-title">About me</div>
<hr class="accountform-hr">



<div class="account-field">
    <label for="FirstName" class="form-label">First Name</label>
    <input asp-for="FirstName" class="form-design">  <!--  FirstName här kopplas till LastName i MyAccountFormModel.cs -->
    <span asp-validation-for="FirstName"></span>     <!-- skriver ut felmeddelande -->
</div>   

<div class="account-field">
    <label for="LastName" class="form-label">Last Name</label>
    <input asp-for="LastName" class="form-design">  <!--  LastName här kopplas till LastName i MyAccountFormModel.cs -->
    <span asp-validation-for="LastName"></span>     <!-- skriver ut felmeddelande -->
</div>   

<div class="account-field">
    <label for="Email" class="form-label">Email Adress *</label>
    <input asp-for="Email" class="form-design">  <!--  Email här kopplas till LastName i MyAccountFormModel.cs -->
    <span asp-validation-for="Email"></span>     <!-- skriver ut felmeddelande -->
</div>   

<div class="account-field">
    <label for="PhoneNumber" class="form-label">Phone Number</label>
    <input asp-for="PhoneNumber" class="form-design">  <!--  PhoneNumber här kopplas till LastName i MyAccountFormModel.cs -->
    <span asp-validation-for="PhoneNumber"></span>     <!-- skriver ut felmeddelande -->
</div>   



<hr class="accountform-hr">



                <!-- BIFOGA BILDER-->
        <div class="account-field">
                
                @if (ViewBag.Message != null)
                {
                    
                    <div class="popup-overlay">                                         <!-- Popup rutan syns mer än bakgrunden -->
                        <div class="popup-content">
                                <div class="popup-message">@ViewBag.Message</div>       <!-- MEDDELANDE -->
                                <div class="forms-btn">                                 <!-- KNAPP -->
                            <a asp-action="MyAccount" class="message-btn">OK</a>
                       </div>
                    </div>
                </div>
                        }
                        else 
                        {
                                <div class="form-label">Profile Image</div>


                                
                                <div class="custom-upload-wrapper">
                                    <span id="img-name-display" class="file-placeholder">Upload Profile Image</span>
                                    
                                    <div class="browse-btn">Browse</div>

                                    <input asp-for="File" type="file" id="real-file-input" accept="image/*" />

                                </div>
                        }   
                </div>                
                <!-- BIFOGA BILDER END -->
    


                <button type="submit" class="green-btn account-btn">Save
                <i class="fa-solid fa-angle-right get-started"></i>
                </button>

</div>

</div>


                <div class="statistic-container"> 
                <div class="statistic-title">My Statistics</div>
                <div class="statistic-form">
                <div class="statistic-spacebetween">
                <div>Check-In (last 30 days)</div>
                <div>25</div>
                    </div>
<img src="~/images/statistic1-img.svg" alt="statistics" class="statistics-img">

                <div class="statistic-spacebetween">
                <div>Weight Goal</div>
                <div>50%</div>
                    </div>
<img src="~/images/statistic2-img.svg" alt="statistics" class="statistics-img">

                <div class="statistic-spacebetween">
                <div>Current BMI</div>
                <div>27</div>
                </div>
<img src="~/images/statistic3-img.svg" alt="statistics" class="statistics-img">


                        </div>
                    </div>
                </div>
            </div>
        </div>
 </form>