
@using CoreFitness.Presentation.Models
@model MyAccountFormModel



<!-- Kopplad till Controllers/AuthController.cs -->
<!--För att det ska stå "Register" i webbläsarens flik-->
@{
    ViewData["Title"] = "My Account - About Me";
}


@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScripts.cshtml" />      <!-- skriver ut felmeddelande -->
}


<form method="post" asp-controller="MyAccount" asp-action="Upload" enctype="multipart/form-data" novalidate>

<div class="register-title account-title">My Account</div>

<div class="account-container"> 

<div class="account-left">  
<img src="~/images/profilepic.svg" alt="Profile picture" class="profilepic-img">

<div class="mini-column">
    <div class="account-menu">Menu Options</div>
    <div class="account-mini-column-text">About Me
        <i class="fa-solid fa-angle-right"></i>
    </div>
    <hr class="mini-column-hr">
    <div class="account-mini-column-text">My Membership
        <i class="fa-solid fa-angle-right"></i>
    </div>
    <hr class="mini-column-hr">
    <div class="account-mini-column-text">My Bookings
        <i class="fa-solid fa-angle-right"></i>
    </div>
    <hr class="mini-column-hr">
    <div class="account-mini-column-text">Sign Out
        <i class="fa-solid fa-angle-right"></i>
    </div>
</div>

<div class="account-column-deleteaccount">
<div class="deleteaccount">If you like to cancel your account click below</div>
<div class="deleteaccount-red">Remove Account</div>
</div>
</div>




<div class="account-right"> 
    <div class="account-myaccount-column">


 <div class="account-form">       
<div class="account-myaccount-column-title">About me</div>
<hr class="accountform-hr">

<div class="account-field">
    <label for="FirstName" class="myaccount-label">First Name</label>
    <input asp-for="FirstName" class="myaccount-design">  <!--  FirstName här kopplas till LastName i MyAccountFormModel.cs -->
    <span asp-validation-for="FirstName"></span>     <!-- skriver ut felmeddelande -->
</div>   

<div class="account-field">
    <label for="LastName" class="myaccount-label">Last Name</label>
    <input asp-for="LastName" class="myaccount-design">  <!--  LastName här kopplas till LastName i MyAccountFormModel.cs -->
    <span asp-validation-for="LastName"></span>     <!-- skriver ut felmeddelande -->
</div>   

<div class="account-field">
    <label for="Email" class="myaccount-label">Email Adress *</label>
    <input asp-for="Email" class="myaccount-design">  <!--  Email här kopplas till LastName i MyAccountFormModel.cs -->
    <span asp-validation-for="Email"></span>     <!-- skriver ut felmeddelande -->
</div>   

<div class="account-field">
    <label for="PhoneNumber" class="myaccount-label">Phone Number</label>
    <input asp-for="PhoneNumber" class="myaccount-design">  <!--  PhoneNumber här kopplas till LastName i MyAccountFormModel.cs -->
    <span asp-validation-for="PhoneNumber"></span>     <!-- skriver ut felmeddelande -->
</div>   




                <!-- LÄGG IN KODEN HÄR
                FÖR ATT BIFOGA BILDER-->

<div class="file-title">Profile Image</div>
<div class="file-container">
    <div class="custom-upload-wrapper">
        <input asp-for="File" type="file" accept="image/*" class="my-styled-input" />
    </div>
    <span asp-validation-for="File" class="error-message"></span>
</div> 

                <!-- BIFOGA BILDER END -->
                



                <button type="submit" class="green-btn account-btn">Save
                <i class="fa-solid fa-angle-right get-started"></i>
                </button>

</div>

</div>


                <div class="statistic-container"> 
                <div class="statistic-title">My Statistics</div>
                <div class="statistic-form">
                <div class="statistic-spacebetween">
                <div>Check-In (last 30 days)</div>
                <div>25</div>
                    </div>
<img src="~/images/statistic1-img.svg" alt="statistics" class="statistics-img">

                <div class="statistic-spacebetween">
                <div>Weight Goal</div>
                <div>50%</div>
                    </div>
<img src="~/images/statistic2-img.svg" alt="statistics" class="statistics-img">

                <div class="statistic-spacebetween">
                <div>Current BMI</div>
                <div>27</div>
                </div>
<img src="~/images/statistic3-img.svg" alt="statistics" class="statistics-img">


            </div>
        </div>
    </div>
</div>


</div> <!-- container end -->

 </form>